name: Build Octave

on:
  push:
    branches:
      - '*'
  schedule:
    - cron: '30 5 * * 3'

env:
  OCTAVE_VERSION: 6.4.0
  ARCH: x86_64

jobs:
  build-macos:
    runs-on: 'macos-10.15'
    name: Build on MacOS
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the commit triggering this job
        uses: actions/checkout@v4

      - name: Update Homebrew
        run: |
          brew update --preinstall
          echo "::notice title=BrewPrefix::$(brew --prefix)"
          echo "::notice title=BrewCache::$(brew --cache)"

        # THX https://github.com/jawang35/dotfiles/blob/master/.github/workflows/ci.yml#L16
        # https://github.com/actions/cache
      - name: Cache Homebrew Packages
        id: cache-homebrew-packages
        uses: actions/cache@v3
        env:
          cache-name: homebrew-packages
        with:
          # Roughly 20% of the total cache size
          upload-chunk-size: 630000000
          # Paths to cache:
          # /usr/local/Homebrew - installation folder of Homebrew
          # /usr/local/Cellar - installation folder of Homebrew formulae
          # /usr/local/Frameworks, /usr/local/bin, /usr/local/opt - contain (links to) binaries installed by Homebrew formulae
          # ~/Library/Caches/Homebrew - user-specific Homebrew caches
          path: |
            # Exclude all git directories
            **/.git/**
            /usr/local/Homebrew
            # Exclude vendored packages and taps from cache
            !/usr/local/Homebrew/Library/Taps/**
            !/usr/local/Homebrew/Library/Homebrew/vendor/**
            /usr/local/Cellar
            # Exclude system-provided packages
            !/usr/local/Cellar/tcl-tk/**
            !/usr/local/Cellar/libpq/**
            !/usr/local/Cellar/aspell/**
            !/usr/local/Cellar/gcc@*/**
            !/usr/local/Cellar/git-lfs/**
            !/usr/local/Cellar/git/**
            !/usr/local/Cellar/guile/**
            !/usr/local/Cellar/gradle/**
            !/usr/local/Cellar/hub/**
            !/usr/local/Cellar/httpd/**
            !/usr/local/Cellar/kotlin/**
            !/usr/local/Cellar/node*/**
            !/usr/local/Cellar/openssl@1.1/**
            !/usr/local/Cellar/php/**
            !/usr/local/Cellar/python@3.8/**
            !/usr/local/Cellar/python@3.9/**
            !/usr/local/Cellar/python@3.10/**
            !/usr/local/Cellar/subversion/**
            !/usr/local/Cellar/tidy-html5/**
            /usr/local/Frameworks
            /usr/local/bin
            /usr/local/opt
            # Files for the github runner
            !/usr/local/opt/runner/**
            /usr/local/lib
            # System-installed packages
            !/usr/local/lib/ruby/**
            !/usr/local/lib/httpd/**
            !/usr/local/lib/tk8.6/**
            !/usr/local/lib/perl5/**
            !/usr/local/lib/node_modules/**
            !/usr/local/lib/python3.8/**
            !/usr/local/lib/python3.9/**
            !/usr/local/lib/python3.10/**
            /usr/local/libexec
            /usr/local/include
            # These caches are quite large - omitting
            # ~/Library/Caches/Homebrew
          key: ${{ runner.os }}-cachev3-${{ hashFiles('Brewfile') }}
          # # Require a specific match in order to use the cache
          # # https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#matching-a-cache-key
          # restore-keys: |
          #   ${{ runner.os }}-cachev3-
          #   ${{ runner.os }}-cachev3-${{ hashFiles('Brewfile') }}

      - name: Cache Octave Download
        id: cache-octave-download
        uses: actions/cache@v3
        env:
          cache-name: octave-download
        with:
          path: |
            octave-*.tar.gz
            octave-*/**
          key:
            octave-download-cachev2-${{ env.OCTAVE_VERSION }}

      - name: Install dependencies (MacOS)
        if: steps.cache-homebrew-packages.output.cache-hit != 'true'
        run: |
          brew bundle --file="$GITHUB_WORKSPACE/Brewfile"
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1

        # https://www.gnu.org/software/octave/
      - name: Grab Octave Source v${{ env.OCTAVE_VERSION }}
        if: steps.cache-octave-download.outputs.cache-hit != 'true'
        run: |
          curl -o octave-$OCTAVE_VERSION.tar.xz https://ftp.gnu.org/gnu/octave/octave-$OCTAVE_VERSION.tar.xz
          tar -xJf octave-$OCTAVE_VERSION.tar.xz --directory $GITHUB_WORKSPACE

      - name: Configure Octave ${{ env.OCTAVE_VERSION }}
        run: |
          export BREWPFX=`brew --prefix`
          cd $GITHUB_WORKSPACE/octave-$OCTAVE_VERSION
          autoreconf -i -f
          ./configure --prefix=$GITHUB_WORKSPACE/usr \
            --disable-dependency-tracking \
            --disable-silent-rules \
            --enable-link-all-dependencies \
            --enable-shared \
            --disable-static \
            --without-qt \
            --with-x=no \
            --with-portaudio \
            --with-sndfile \
            --with-hdf5-includedir=$BREWPFX/include \
            --with-hdf5-libdir=$BREWPFX/lib \
            --with-java-homedir=$BREWPFX/opt/openjdk \
            --with-blas="-L$BREWPFX/opt/openblas -lopenblas" \
            --with-qhull-includedir=$BREWPFX/include \
            --with-qhull-libdir=$BREWPFX/lib \
            CPPFLAGS="$CPPFLAGS -I$BREWPFX/include -I$BREWPFX/opt/readline/include -I$BREWPFX/opt/texinfo/include" \
            LDFLAGS="$LDFLAGS -L$BREWPFX/lib -L$BREWPFX/opt/readline/lib -L$BREWPFX/opt/bison/lib -L$BREWPFX/opt/texinfo/lib" \
            PATH=$GITHUB_WORKSPACE/usr/bin:/bin:/sbin:/usr/bin:/usr/sbin:$BREWPFX/opt/bison/bin:$BREWPFX/opt/texinfo/bin:$BREWPFX/libexec/bin:$BREWPFX/bin \
            F77=$BREWPFX/bin/gfortran-11 \
            CC=$BREWPFX/bin/gcc-11 \
            CXX=$BREWPFX/bin/g++-11 \
            || (cat config.log ; echo "::warning title=ConfigureFailure::Configure Failed")
        env:
          QCOLLECTIONGENERATOR: qhelpgenerator

      - name: Build Octave
        run: |
          export BREWPFX=`brew --prefix`
          export CPPFLAGS="$CPPFLAGS -I$BREWPFX/include -I$BREWPFX/opt/readline/include -I$BREWPFX/opt/bison/include -I$BREWPFX/opt/texinfo/include"
          export LDFLAGS="$LDFLAGS -L$BREWPFX/lib -L$BREWPFX/opt/readline/lib -L$BREWPFX/opt/bison/lib -L$BREWPFX/opt/texinfo/lib"
          export PATH=$GITHUB_WORKSPACE/usr/bin:/bin:/sbin:/usr/bin:/usr/sbin:$BREWPFX/opt/bison/bin:$BREWPFX/opt/texinfo/bin:$BREWPFX/libexec/bin:$BREWPFX/bin
          export F77=$BREWPFX/bin/gfortran-11
          export CC=$BREWPFX/bin/gcc-11
          export CXX=$BREWPFX/bin/g++-11
          cd $GITHUB_WORKSPACE/octave-$OCTAVE_VERSION
          make octave-config.h || echo "::warning title=OctaveConfigFailure::Failed to build octave-config.h"
          make -j2 all || echo "::warning title=BuildFailure::Build Failed"

  build-ubuntu:
    runs-on: 'ubuntu-20.04'
    name: Build on Ubuntu
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the commit triggering this job
        uses: actions/checkout@v4

      # https://wiki.octave.org/Octave_for_Debian_systems#The_right_way
      # https://github.com/actions/virtual-environments/issues/2924
      - name: Install dependencies (Ubuntu)
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc g++ gfortran make libblas-dev liblapack-dev libpcre3-dev libarpack2-dev libcurl4-gnutls-dev epstool libfftw3-dev fig2dev libfltk1.3-dev libfontconfig1-dev libfreetype6-dev libgl2ps-dev libglpk-dev libreadline-dev gnuplot-x11 libgraphicsmagick++1-dev libhdf5-dev openjdk-11-jdk libsndfile1-dev llvm-dev texinfo libgl1-mesa-dev pstoedit portaudio19-dev libqhull-dev libqrupdate-dev libsuitesparse-dev texlive-latex-extra libxft-dev zlib1g-dev autoconf automake bison flex gperf gzip icoutils librsvg2-bin libtool perl rsync tar qtbase5-dev qttools5-dev qttools5-dev-tools libqscintilla2-qt5-dev libsundials-dev

      - name: Cache Octave Download
        id: cache-octave-download
        uses: actions/cache@v3
        env:
          cache-name: octave-download
        with:
          path: |
            octave-*.tar.gz
            octave-*/**
          key:
            octave-download-cachev2-${{ env.OCTAVE_VERSION }}

      # https://www.gnu.org/software/octave/
      - name: Grab Octave Source v${{ env.OCTAVE_VERSION }}
        if: steps.cache-octave-download.outputs.cache-hit != 'true'
        run: |
          curl -o octave-$OCTAVE_VERSION.tar.xz https://ftp.gnu.org/gnu/octave/octave-$OCTAVE_VERSION.tar.xz
          tar -xJf octave-$OCTAVE_VERSION.tar.xz --directory $GITHUB_WORKSPACE

      - name: Configure Octave ${{ env.OCTAVE_VERSION }}
        run: |
          cd $GITHUB_WORKSPACE/octave-$OCTAVE_VERSION
          ./configure --prefix=$GITHUB_WORKSPACE/usr

      # Why aren't the necessary header files being generated? Not clear...
      # Grabbed these from the Makefile SMX_OP_INC, VX_OP_INC, MX_OP_INC, LIBOCTAVE_OPT_INC
      - name: Build Octave
        run: |
          cd $GITHUB_WORKSPACE/octave-$OCTAVE_VERSION
          make octave-config.h || echo "::warning title=OctaveConfigFailure::Failed to build octave-config.h"
          make -j2 all || echo "::warning title=BuildFailure::Build Failed"
