name: Build Octave

on:
  push:
    branches:
      - '*'
  schedule:
    - cron: '30 5 * * 3'

env:
  OCTAVE_VERSION: 6.4.0
  ARCH: x86_64

jobs:
  build-macos:
    runs-on: 'macos-10.15'
    name: Build on MacOS
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the commit triggering this job
        uses: actions/checkout@v2

      # THX https://github.com/jawang35/dotfiles/blob/master/.github/workflows/ci.yml#L16
      - name: Cache Homebrew Packages
        id: cache-homebrew-packages
        uses: actions/cache@v3
        env:
          cache-name: homebrew-packages
        with:
          path: $(brew --prefix)
          key: macos-10.15-${{ hashFiles('Brewfile') }}

      - name: Install dependencies (MacOS)
        run: |
          brew update
          brew bundle --file="$GITHUB_WORKSPACE/Brewfile"

      # https://www.gnu.org/software/octave/
      - name: Grab Octave Source v${{ env.OCTAVE_VERSION }}
        run: |
          curl -o octave-$OCTAVE_VERSION.tar.xz https://ftp.gnu.org/gnu/octave/octave-$OCTAVE_VERSION.tar.xz
          tar -xJf octave-$OCTAVE_VERSION.tar.xz --directory $GITHUB_WORKSPACE

      - name: Configure Octave ${{ env.OCTAVE_VERSION }}
        run: |
          export BREWPFX=`brew --prefix`
          export CPPFLAGS="$CPPFLAGS -I/usr/local/opt/qt/include"
          export LDFLAGS="$LDFLAGS -L/usr/local/opt/qt/lib"
          export PATH=$GITHUB_WORKSPACE/usr/bin:/usr/local/opt/bison/bin:/usr/local/opt/texinfo/bin:/usr/local/opt/qt/bin:$BREWPFX/libexec/bin:$BREWPFX/bin:/bin:/sbin:/usr/bin:/usr/sbin
          cd $GITHUB_WORKSPACE/octave-$OCTAVE_VERSION
          ./configure --help
          ./configure --prefix=$GITHUB_WORKSPACE/usr --disable-dependency-tracking --disable-silent-rules --enable-link-all-dependencies --enable-shared --disable-static --with-x=no --with-portaudio --with-sndfile --with-hdf5-includedir=$BREWPFX/include --with-hdf5-libdir=$BREWPFX/lib --with-java-homedir=$BREWPFX/opt/openjdk --with-blas="-L$BREWPFX/opt/openblas -lopenblas" || echo "::warning title=ConfigureFailure::Configure Failed"
        env:
          QCOLLECTIONGENERATOR: qhelpgenerator
          QT_CPPFLAGS: -I/usr/local/opt/qt/include
          QT_LDFLAGS: -L/usr/local/opt/qt/lib

      - name: Build Octave
        run: |
          make -j2 || echo "::warning title=BuildFailure::Build Failed"

  build-ubuntu:
    runs-on: 'ubuntu-20.04'
    name: Build on Ubuntu
    steps:
      # https://github.com/actions/checkout
      - name: Checkout the commit triggering this job
        uses: actions/checkout@v2

      # https://wiki.octave.org/Octave_for_Debian_systems#The_right_way
      # https://github.com/actions/virtual-environments/issues/2924
      - name: Install dependencies (Ubuntu)
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc g++ gfortran make libblas-dev liblapack-dev libpcre3-dev libarpack2-dev libcurl4-gnutls-dev epstool libfftw3-dev fig2dev libfltk1.3-dev libfontconfig1-dev libfreetype6-dev libgl2ps-dev libglpk-dev libreadline-dev gnuplot-x11 libgraphicsmagick++1-dev libhdf5-dev openjdk-11-jdk libsndfile1-dev llvm-dev texinfo libgl1-mesa-dev pstoedit portaudio19-dev libqhull-dev libqrupdate-dev libsuitesparse-dev texlive-latex-extra libxft-dev zlib1g-dev autoconf automake bison flex gperf gzip icoutils librsvg2-bin libtool perl rsync tar qtbase5-dev qttools5-dev qttools5-dev-tools libqscintilla2-qt5-dev libsundials-dev

      # https://www.gnu.org/software/octave/
      - name: Grab Octave Source v${{ env.OCTAVE_VERSION }}
        run: |
          curl -o octave-$OCTAVE_VERSION.tar.xz https://ftp.gnu.org/gnu/octave/octave-$OCTAVE_VERSION.tar.xz
          tar -xJf octave-$OCTAVE_VERSION.tar.xz --directory $GITHUB_WORKSPACE

      - name: Configure Octave ${{ env.OCTAVE_VERSION }}
        run: |
          cd $GITHUB_WORKSPACE/octave-$OCTAVE_VERSION
          ./configure --prefix=$GITHUB_WORKSPACE/usr

      - name: Build Octave
        run: |
          cd $GITHUB_WORKSPACE/octave-$OCTAVE_VERSION
          make -j2 || echo "::warning title=BuildFailure::Build Failed"
